body {
  align-items: center;
  background-image: url('../images/pattern-desktop.svg');
  background-color: #E1E8FF;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  display: flex;
  font-family: 'Red Hat Display', sans-serif;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.card-container {
  background-color: #ffffff;
  box-shadow: 0px 20px 40px -4px rgba(56,42,225,0.15);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 420px;
  height: 640px;
  width: 420px;
}

.header-image {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

#order-summary-title {
  color: #1F2F56;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 1.2rem auto 1.3rem auto;
}

.summary-text {
  color: #86899A;
  font-weight: 400;
  margin: 20px 35px 5px 35px;
}

.purchase-summary-container {
  align-items: center;
  background: #F8F9FE;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: 90px auto auto;
  grid-template-rows: 95px;
  margin: 0 auto 20px auto;
  width: 80%;
}

.purchase-text {
  justify-self: start;
  font-size: 1rem;
  margin: 0;
  text-align: start;
}

.purchase-text h3 {
  font-size: 1rem;
  margin-bottom: 0.35rem;
}

.purchase-text p {
  color: #86899A;
  margin-top: 0.35rem;
}

#music-note-img {
  width: 50px;
  height: 50px;
  justify-self: center;
}

.change-button {
  color: #4B3BDC;
  font-size: 0.9rem;
  font-weight: 700;
  justify-self: end;
  margin-right: 25px;
}

.payment-button {
  background: #382AE1;
  border: none;
  border-radius: 0.7rem;
  color: #ffffff;
  height: 2.7rem;
  width: 80%;
  margin: 10px auto 25px auto;
}





.attribution {
  position: absolute;
  bottom: 1rem;
  left: 10%;
  right: 10%;
}
