html, body {
    min-height: 100vh;
    margin: 0;
}

body, button {
  align-items: center;
  background-color: hsl(225, 100%, 94%);
  background-image: url('../images/pattern-desktop.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Red Hat Display', sans-serif;
  justify-content: center;
  text-align: center;
}

.card-container {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 20px 40px -4px rgba(56, 42, 225, 0.15);
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  width: 420px;
}

.header-image {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.order-summary-title {
  color: hsl(223, 47%, 23%);
  font-size: 1.5rem;
  font-weight: 900;
  margin: 1.2rem auto 1.3rem auto;
}

.summary-text {
  color: hsl(224, 23%, 55%);
  font-weight: 400;
  margin: 20px 35px 5px 35px;
}

.purchase-summary-container {
  align-items: center;
  background: #F8F9FE;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: 95px auto auto;
  grid-template-rows: 95px;
  margin: 0 auto 20px auto;
  width: 80%;
}

.purchase-text {
  font-size: 1rem;
  justify-self: start;
  margin: 0;
  text-align: start;
}

.purchase-text h3 {
  color: hsl(223, 47%, 23%);
  font-size: 1rem;
  margin-bottom: 0.35rem;
}

.purchase-text p {
  color: hsl(224, 23%, 55%);
  margin-top: 0.35rem;
}

.music-note-img {
  height: 50px;
  justify-self: center;
  width: 50px;
}

.change-button {
  color: hsl(245, 75%, 52%);
  font-size: 0.9rem;
  font-weight: 700;
  justify-self: end;
  margin-right: 25px;
}

.payment-button {
  background: hsl(245, 75%, 52%);
  border: none;
  border-radius: 0.7rem;
  box-shadow: 0 20px 35px -4px rgba(56, 42, 225, 0.25);
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  height: 2.7rem;
  margin: 10px auto 30px auto;
  width: 80%;
}

.cancel-order-button {
  color: hsl(224, 23%, 55%);
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 35px;
  text-decoration: none;
}

/* hover styling */
.change-button:hover {
  color: #756CF1;
  text-decoration: none;
}

.payment-button:hover {
  background: #756CF1;
}

.cancel-order-button:hover {
  color: hsl(223, 47%, 23%);
}


.attribution {
  font-size: 11px;
  margin-bottom: 0.2rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (max-width: 700px) {
  body {
    background-image: url('../images/pattern-mobile.svg');
  }
  .card-container {
    width: 330px;
  }
  .purchase-summary-container {
    grid-template-columns: 77px auto auto;
    grid-template-rows: 85px;
    margin: 0 auto 20px auto;
    width: 87%;
  }
  .payment-button {
    width: 87%;
  }
  .summary-text {
    margin: 20px 35px 5px 35px;
  }
  .purchase-text h3 {
    margin-bottom: 0.1rem;
  }
  .purchase-text p {
    margin-top: 0.1rem;
  }
  .change-button {
    margin-right: 20px;
  }
}
